Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be accessed, managed, and updated. It can store information such as customer details, product information, and financial data.

SQL databases are based on the relational model, which means that data is organized in tables, and each table has a predefined structure with columns and rows.

NoSQL databases, on the other hand, use a variety of data models such as document-based, key-value, column-based, and graph-based.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 DDL stands for Data Definition Language.DDL statements are used to define, modify, and delete database objects.

CREATE: CREATE is used for creating table,databases,views,indexes

CREATE TABLE EMPLOYEE(
 ID INT PRIMARY KEY,
 NAME VARCHAR(10),
 AGE INT   
);

DROP: The DROP statement is used to delete an existing database object, such as a table, view, or stored procedure. Here's an example of dropping a table named "orders":

DROP TABLE orders;

ALTER: The ALTER statement is used to modify an existing database object,

ALTER TABLE EMPLOYEE ADD COLUMN ADDRESS VARCHAR(200)

TRUNCATE: The TRUNCATE statement is used to remove all the data from a table

TRUNCATE TABLE orders;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for data manupulation language.It is used to insert , delete , update data in database

INSERT: The INSERT statement is used to insert new data into a table

INSERT INTO customers (id,name,age,email) VALUES(1,"Rounak Dipta Ghosh",23,"rounak.@gmail.com")

UPDATE: The UPDATE statement is used to modify existing data in a table.

UPDATE customers SET email = "new@gmail.com" where id = 1;

DELETE: The DELETE statement is used to remove data from a table

DELETE FROM customers WHERE id = 2;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language,DQL statements are used to query the contents of database objects such as tables, views, and stored procedures

SELECT: SELECT *FROM customers : It is used for retrive all data from customers database

SELECT With WHERE clause:select with where clause is used for specific field to retrive.

SELECT * FROM customers where age>25

SELECT with ORDER BY clause: The ORDER BY clause is used to sort the results based on one or more columns

SELECT * FROM customers ORDER BY name;

SELECT with LIMIT clause: The LIMIT clause is used to limit the number of rows returned by a query.

SELECT * FROM customers LIMIT 10;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. The primary key constraint is used to ensure that the values in the column(s) are unique and not null.

Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. The foreign key constraint is used to ensure that the values in the column(s) match the values in the primary key of the other table or are null.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost"
    username = "username"
    password = "password"
    database = "dtabaseName"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM tablename")
result = mycursor.fetchall()

for i in result:
    print(i)

cursor():A cursor is an object that allows us to interact with the database and execute queries.

We can then use the execute() method of the cursor object to execute a query on the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM -- WHERE--GROUPBY--HAVING--SELECT--ORDERBY--LIMIT