Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [4,8,15,16,23,42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pa
list1 = [1,2,3,4,5,6,7,8,9,10]
my_series = pd.Series(list1)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3.Create a Pandas DataFrame that contains the following data:

Name	Age	Gender
Alice	25	Female
Bob	30	Male
Claire	27	Female

In [7]:
import pandas as pd
data = {
     "Name" : ["Alice","Bob","Claire"],
     "Age"  : [25,30,37],
     "Gender":["Female","Male","Female"]
 }
 

my_df = pd.DataFrame(data)
print(my_df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   37  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that is used to store and manipulate tabular data.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type.

Example:

In [11]:
import pandas as pd

data = {
     "Name" : ["Alice","Bob","Claire"],
     "Age"  : [25,30,37]
}

my_df = pd.DataFrame(data)
print(my_df)
# Create a Series for the Name column
my_series = my_df['Name']
print(my_series)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   37
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Some common functions that are used to manipulate data in Pandas DataFrame are head(),tail(),describe(),dropna(),groupby(),sort_values()

In [13]:
import pandas as pd

data ={
    "Country":["India","USA","Germany","India","Germany","India"],
    "Slaes"  :[100,350,300,100,120,300]
}

df = pd.DataFrame(data)

grouped = df.groupby('Country').sum()
print(grouped)

         Slaes
Country
Germany    420
India      500
USA        350

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable, which means that their values can be changed after they are created. Panel, on the other hand, is a 3D data structure that is deprecated since version 1.0.0, so it is not relevant anymore.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

names = pd.Series(["Alice","Bob","Claire"])
ages  = pd.Series([25,30,37])
gender=pd.Series(["Female","Male","Female"])

data= {
    "Names":names,
    "Age"  :ages,
    "Gender":gender
}

df = pd.DataFrame(data)
print(df)

    Names  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   37  Female

In this example, we create three Pandas Series containing data for different columns: names, ages, and genders. We then create a dictionary that maps column names to their corresponding Series, and use this dictionary to create a new DataFrame using the pd.DataFrame() function.